<h2>
    <span>Отделения</span>
    <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'catalog', 'action'=>'office-create')); ?>">создать</a>
    <a class="btn btn-success pull-right" id="export_to_excel_button">экспорт в Excel</a>
</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>№ п/п</th>
        <th>Наименование</th>
        <th>Город</th>
        <th>Адрес</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <?php if (!isset($this->offices) || empty($this->offices)) : ?>
        <td colspan="100%">Нет данных</td>
    <?php else : ?>
        <?php foreach ($this->offices as $item) : ?>
            <tr>
                <td><?php echo $item['office_id']; ?></td>
                <td><?php echo $item['office_name']; ?></td>
                <td><?php echo $item['office_town']; ?></td>
                <td><?php echo $item['office_adr']; ?></td>
                <td><a class="" href="<?php echo $this->url('admin',array('controller'=>'catalog', 'action'=>'office-edit'), array('query'=>array('id'=>$item['office_id']))); ?>">изменить</a></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>