<h2>
    <span>Поставщики</span>
    <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'catalog', 'action'=>'provider-create')); ?>">создать</a>
    <a class="btn btn-success pull-right" id="export_to_excel_button">экспорт в Excel</a>
</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>№ п/п</th>
        <th>Наименование</th>
        <th>Город</th>
        <th>Адрес</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <?php if (!isset($this->providers) || empty($this->providers)) : ?>
        <td colspan="100%">Нет данных</td>
    <?php else : ?>
        <?php foreach ($this->providers as $item) : ?>
            <tr>
                <td><?php echo $item['provider_id']; ?></td>
                <td><?php echo $item['provider_name']; ?></td>
                <td><?php echo $item['provider_town']; ?></td>
                <td><?php echo $item['provider_adr']; ?></td>
                <td><a class="" href="<?php echo $this->url('admin',array('controller'=>'catalog', 'action'=>'provider-edit'), array('query'=>array('id'=>$item['provider_id']))); ?>">изменить</a></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>