<?php
//    echo "<br /><h1>DEBUG</h1><br />";
//    echo "Translator-Textdomain: " . $this->formLabel()->getTranslatorTextDomain() . "<br />";
//    echo "Translator-Locale: " . $this->formLabel()->getTranslator()->getLocale() . "<br />";
//    echo "Translator->FallbackLocale: " . $this->formLabel()->getTranslator()->getFallbackLocale() . "<br />";
//    echo "Translate-Test: Password -> ". $this->translate('Password', __NAMESPACE__);
//?>
<?php if ($this->message): ?>
    <div class="alert alert-warning"><?php echo $this->message; ?></div>
<?php endif; ?>
<?php
    if (!$this->form) {
        return;
    }
    $form = $this->form;
    $form->setAttribute('role','form');
    $form->setAttribute('class','form-horizontal');
    $form->prepare();
?>
<?php echo $this->form()->openTag($form); ?>

    <?php $element = $form->get('material_name'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('mtype_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('material_count'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
        <script type="text/javascript">
            $('#<?php echo $element->getAttribute('id'); ?>').TouchSpin({
                min: 1, // Minimum value.
                max: 10000, // Maximum value.
                boostat: 5, // Boost at every nth step.
                maxboostedstep: 10, // Maximum step when boosted.
//                postfix: '%', // Text after the input.
//                prefix: '$', // Text before the input.
                step: 1, // Incremental/decremental step on up/down change.
                stepinterval: 100, // Refresh rate of the spinner in milliseconds.
                stepintervaldelay: 500 // Time in milliseconds before the spinner starts to spin.
            });
        </script>
    </div>

    <?php $element = $form->get('provider_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('office_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('department_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('submit'); ?>
    <?php $element->setAttribute('class','btn btn-primary'); ?>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <?php echo $this->formSubmit($element); ?>
            <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'material')); ?>">Отмена</a>
        </div>
    </div>

<?php echo $this->form()->closeTag(); ?>