<h2>
    <span>Пользователи</span>
    <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'user', 'action'=>'create')); ?>">создать</a>
    <a class="btn btn-success pull-right" id="export_to_excel_button">экспорт в Excel</a>
</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID пользователя</th>
        <th>ФИО</th>
        <th>Должность</th>
        <th>Отделение (Группа пользователей)</th>
        <th>Отдел</th>
        <th>E-mail</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <?php if (!isset($this->users) || empty($this->users)) : ?>
        <td colspan="100%">Нет данных</td>
    <?php else : ?>
        <?php foreach ($this->users as $user) : ?>
<!--            --><?php //$user = $user->getArrayCopy(); ?>
<!--            --><?php //var_dump($user); ?>
            <tr>
                <td><?php echo $user['user_id']; ?></td>
                <td><?php echo $user['user_name']; ?></td>
                <td><?php echo $user['user_dol']; ?></td>
                <td><?php echo $user['office']; ?></td>
                <td><?php echo $user['department_name']; ?></td>
                <td><?php echo $user['user_mail']; ?></td>
                <td><a class="" href="<?php echo $this->url('admin',array('controller'=>'user', 'action'=>'edit'), array('query'=>array('userid'=>$user['user_id']))); ?>">изменить</a></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>