<?php if ($this->messages): ?>
    <ul>
        <?php foreach ($this->messages as $message) : ?>
            <li><?php echo $message; ?></li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
<?php
    $form = $this->form;
    $form->setAttribute('role','form');
    $form->prepare();
?>
<?php echo $this->form()->openTag($form); ?>
    <div class="form-group">
        <?php $element = $form->get('login'); ?>
        <?php $element->setAttribute('class', 'form-control'); ?>
        <?php echo $this->formLabel($element); ?>
        <?php echo $this->formText($element); ?>
        <?php echo $this->formElementErrors($element); ?>
    </div>
    <div class="form-group">
        <?php $element = $form->get('password'); ?>
        <?php $element->setAttribute('class', 'form-control'); ?>
        <?php echo $this->formLabel($element); ?>
        <?php echo $this->formPassword($element); ?>
        <?php echo $this->formElementErrors($element); ?>
    </div>
    <div class="form-group">
        <?php $element = $form->get('remember'); ?>
        <?php $element->setAttribute('id', 'remember'); ?>
        <?php echo $this->formLabel()->openTag($element); ?>
        <?php echo $this->formCheckbox($element); ?>
        <?php echo $element->getLabel(); ?>
        <?php echo $this->formLabel()->closeTag(); ?>
        <?php echo $this->formElementErrors($element); ?>
    </div>
    <div class="form-group">
        <?php $element = $form->get('submit'); ?>
        <?php $element->setAttribute('class', 'btn btn-default'); ?>
        <?php echo $this->formElement($element); ?>
    </div>
<?php echo $this->form()->closeTag(); ?>