<?php include('partial/header.phtml'); ?>
<body>
    <div id="waiting">Loading...</div>
    <script>
        $(document).ready(function(){
    //            $("input[data-need-datepicker]").datepicker({dateFormat: "dd.mm.yy"});
            $("input[data-need-datepicker]").datepicker({dateFormat: "yy-mm-dd"});
        });
        $.ajaxSetup({
            beforeSend: function(){
                startWaiting();
            },
            complete: function(){
                stopWaiting();
            }
        });
        function startWaiting(){
            console.log('start');
            $('#waiting').modal();
        }
        function stopWaiting(){
            console.log('stop');
            $('#waiting').modal('hide');
        }
    </script>
    <?php include('partial/top-menu.phtml'); ?>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <?php echo $this->content; ?>
            </div>
        </div>
    </div>
    <?php echo $this->inlineScript(); ?>
    <style>
        #waiting{
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            padding: 2px 23px;
            background: #fff;
            z-index: 1050;
            border-radius: 100px !important;
            margin-left: -95px;
            margin-top: -30px;
            font-size: 30px;
            color: #999;
            border: solid 3px #999;
        }
        .modal-backdrop.in{
            opacity: .05;
            filter: alpha(opacity=5);
        }
    </style>
</body>
</html>
