<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li><a href="<?php echo $this->url('home'); ?>">Заявки</a></li>
        <li><a href="<?php echo $this->url('home/default', array('action'=>'new-request')); ?>">Новая заявка</a></li>
        <li><a href="<?php echo $this->url('home/default', array('action'=>'profile')); ?>">Личный кабинет</a></li>
    </ul>
</div>