<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->url('home'); ?>">Главная</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <ul class="nav navbar-nav">
                    <li class="dropdown"><a href="<?php echo $this->url('home/default', array('action'=>'requests')); ?>">Заявки</a></li>
                    <li class="dropdown"><a href="<?php echo $this->url('home/default', array('action'=>'new-request')); ?>">Новая заявка</a></li>
                    <li class="dropdown"><a href="<?php echo $this->url('home/default', array('action'=>'profile')); ?>">Личный кабинет</a></li>
                </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <?php if ($this->user) : ?>
                    <li><a href="<?php echo $this->url('home/default', array('action'=>'profile')); ?>"><?php echo $this->user->getUserMail(); ?></a></li>
                <?php endif; ?>
                <li><a href="<?php echo $this->url('logout'); ?>">Выход</a></li>
            </ul>
        </div>
    </div>
</div>