.dropdown:hover .dropdown-menu {
    display: block;
}

.nav.nav-sidebar > li > ul{
    list-style: none;
    padding-right: 0px;
    padding-left: 0px;
}
.nav.nav-sidebar > li > ul > li > a{
    text-decoration: none;
    position: relative;
    display: block;
    padding: 10px 15px 10px 40px;
}

.nav.nav-sidebar > li > ul > li:hover{

    background-color: #eee;
}


ul.nav.navbar-nav > li:not(.dropdown) > a[href="#"]{
    color: #585858 !important;
}
ul.nav.navbar-nav > li.dropdown > ul.dropdown-menu > li > a[href="#"]{
    color: #D1D1D1 !important;
}

ul.help-inline {
    margin: 0;
    padding: 3px;
    list-style: none;
    font-size: 11px;
    color: #a94442;
}

.row > .main > h2{
    margin-bottom: 30px;
}

.input-group.bootstrap-touchspin{
    width: 130px;
}