*{
    border-radius: 0 !important;
}
*, *:hover, *:focus, *:active{
    outline: 0 !important;
}
/*body {*/
    /*padding-top: 60px;*/
    /*padding-bottom: 40px;*/
/*}*/


/*pre.xdebug-var-dump{*/
    /*position: absolute;*/
    /*z-index: 1000000;*/
/*}*/

/*.navbar-fixed-top, .navbar-fixed-bottom{*/
    /*position: relative;*/
/*}*/
/*.sidebar{*/
    /*display: none;*/
/*}*/

.content-404{
    text-align: center;
    height: 100%;
    padding: 20px 0 0 0;
    font-size: 60px;
}

.tablesorter-bootstrap .tablesorter-filter-row .tablesorter-filter{
    border: solid 1px #ccc;
    width: 100% !important;
    box-sizing: border-box;
}

tbody tr td[colspan="100%"]{
    text-align: center;
    color: #a94442;
    font-weight: bold;
}