<h2>
    <span>Расходные материалы в наличии</span>
    <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'material', 'action'=>'create')); ?>">создать</a>
    <a class="btn btn-success pull-right" id="export_to_excel_button">экспорт в Excel</a>
</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Наименование</th>
            <th>Тип</th>
            <th>Количество</th>
            <th>Место хранения (использования)</th>
            <th>Поставщик</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <?php if (!isset($this->materials) || empty($this->materials)) : ?>
        <td colspan="100%">Нет данных</td>
    <?php else : ?>
        <?php foreach ($this->materials as $item) : ?>
            <tr>
                <td><?php echo $item['material_id']; ?></td>
                <td><?php echo $item['material_name']; ?></td>
                <td><?php echo $item['mtype_name']; ?></td>
                <td><?php echo $item['material_count']; ?></td>
                <td><?php echo $item['department_name']; ?>, <?php echo $item['office_name']; ?></td>
                <td><?php echo $item['provider_name']; ?></td>
                <td><a class="" href="<?php echo $this->url('admin',array('controller'=>'material', 'action'=>'edit'),array('query'=>array('id'=>$item['material_id']))); ?>">изменить</a></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>