<h2>Перемещение расходных материалов</h2>
<?php if ($this->message): ?>
    <div class="alert alert-warning"><?php echo $this->message; ?></div>
<?php endif; ?>
<?php
    if (!$this->form) {
        return;
    }
    $form = $this->form;
    $form->setAttribute('role','form');
    $form->setAttribute('class','form-horizontal');
    $form->prepare();
?>
<?php echo $this->form()->openTag($form); ?>

    <div class="form-group>">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <h4>Текущее место хранения (использования)</h4>
        </div>
    </div>

    <?php $element = $form->get('old_office_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('old_department_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('material_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('mmove_count'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
        <script type="text/javascript">
            var spinner = $('#<?php echo $element->getAttribute('id'); ?>');
            spinner.TouchSpin({
                min: 1, // Minimum value.
                max: 10000, // Maximum value.
                boostat: 5, // Boost at every nth step.
                maxboostedstep: 10, // Maximum step when boosted.
                step: 1, // Incremental/decremental step on up/down change.
                stepinterval: 100, // Refresh rate of the spinner in milliseconds.
                stepintervaldelay: 500 // Time in milliseconds before the spinner starts to spin.
            });
            spinner.parent().find('button').prop('disabled', spinner.prop('disabled'));
        </script>
    </div>




    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <h4>Новое место хранения (использования)</h4>
        </div>
    </div>

    <?php $element = $form->get('office_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('department_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('submit'); ?>
    <?php $element->setAttribute('class','btn btn-primary'); ?>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <?php echo $this->formSubmit($element); ?>
            <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'movement-history')); ?>">Отмена</a>
        </div>
    </div>

<?php echo $this->form()->closeTag(); ?>

<style>
    #old_office_name, #old_department_name{
        margin-top: 6px;
    }
</style>
<script>
    $(document).on('change', "#<?php echo $form->get('old_office_id')->getAttribute('id'); ?>", function(){
        $("#<?php echo $form->get('old_department_id')->getAttribute('id'); ?>").html('').prop('disabled',true);
        $("#<?php echo $form->get('material_id')->getAttribute('id'); ?>").html('').prop('disabled',true);
        $("#<?php echo $form->get('mmove_count')->getAttribute('id'); ?>").val('').prop('disabled',true).parent().find('button').prop('disabled',true);
//        $(this).parents('form').find(':submit').prop('disabled',false);

        if ($("#<?php echo $form->get('old_office_id')->getAttribute('id'); ?>").val()) {
            $.ajax({
                type: 'post',
                data: { '<?php echo $form->get('old_office_id')->getAttribute('name'); ?>' : $("#<?php echo $form->get('old_office_id')->getAttribute('id'); ?>").val() },
                success: function(data){
                    console.log(data);
                    if (data) {
                        $("#<?php echo $form->get('old_department_id')->getAttribute('id'); ?>").html(data).prop('disabled',false);
                    } else {
                        $("#<?php echo $form->get('old_department_id')->getAttribute('id'); ?>").html('').prop('disabled',true);
                    }
                }
            });
        }

    });

    $(document).on('change', "#<?php echo $form->get('old_department_id')->getAttribute('id'); ?>", function(){
        $("#<?php echo $form->get('material_id')->getAttribute('id'); ?>").html('').prop('disabled',true);
        $("#<?php echo $form->get('mmove_count')->getAttribute('id'); ?>").val('').prop('disabled',true).parent().find('button').prop('disabled',true);
//        $(this).parents('form').find(':submit').prop('disabled',false);

        if ($("#<?php echo $form->get('old_office_id')->getAttribute('id'); ?>").val() && $("#<?php echo $form->get('old_department_id')->getAttribute('id'); ?>").val()) {
            $.ajax({
                type: 'post',
                data: {
                    '<?php echo $form->get('old_office_id')->getAttribute('name'); ?>': $("#<?php echo $form->get('old_office_id')->getAttribute('id'); ?>").val(),
                    '<?php echo $form->get('old_department_id')->getAttribute('name'); ?>': $("#<?php echo $form->get('old_department_id')->getAttribute('id'); ?>").val()
                },
                success: function (data) {
                    console.log(data);
                    if (data) {
                        $("#<?php echo $form->get('material_id')->getAttribute('id'); ?>").html(data).prop('disabled', false);
                    } else {
                        $("#<?php echo $form->get('material_id')->getAttribute('id'); ?>").html('').prop('disabled', true);
                    }
                }
            });
        }
    });
    $(document).on('change', "#<?php echo $form->get('material_id')->getAttribute('id'); ?>", function(){
        var count = $(this).find(":selected").data('count');
        console.log(count);
        if (count) {
//            $('#<?php //echo $form->get('mmove_count')->getAttribute('id'); ?>//').TouchSpin("destroy");
//            $('#<?php //echo $form->get('mmove_count')->getAttribute('id'); ?>//').TouchSpin({
//                min: 1, // Minimum value.
//                max: count, // Maximum value.
//                boostat: 5, // Boost at every nth step.
//                maxboostedstep: 10, // Maximum step when boosted.
//                step: 1, // Incremental/decremental step on up/down change.
//                stepinterval: 100, // Refresh rate of the spinner in milliseconds.
//                stepintervaldelay: 500 // Time in milliseconds before the spinner starts to spin.
//            });
            $("#<?php echo $form->get('mmove_count')->getAttribute('id'); ?>").val(count).prop('disabled',false).parent().find('button').prop('disabled',false);

//            $(this).parents('form').find(':submit').prop('disabled',false);
        } else {
            $("#<?php echo $form->get('mmove_count')->getAttribute('id'); ?>").val('').prop('disabled',true).parent().find('button').prop('disabled',true);
//            $(this).parents('form').find(':submit').prop('disabled',true);
        }

    });



    $(document).on('change', "#<?php echo $form->get('office_id')->getAttribute('id'); ?>", function(){
        $("#<?php echo $form->get('department_id')->getAttribute('id'); ?>").html('').prop('disabled',true);
//        $(this).parents('form').find(':submit').prop('disabled',false);

        if ($("#<?php echo $form->get('office_id')->getAttribute('id'); ?>").val()) {
            $.ajax({
                type: 'post',
                data: { '<?php echo $form->get('office_id')->getAttribute('name'); ?>' : $("#<?php echo $form->get('office_id')->getAttribute('id'); ?>").val() },
                success: function(data){
                    console.log(data);
                    if (data) {
                        $("#<?php echo $form->get('department_id')->getAttribute('id'); ?>").html(data).prop('disabled',false);
                    } else {
                        $("#<?php echo $form->get('department_id')->getAttribute('id'); ?>").html('').prop('disabled',true);
                    }
                }
            });
        }

    });





//    $(document).on('change', "#<?php //echo $element->getAttribute('id'); ?>//", function(){
//        var option = $(this).find('option:selected');
//        $("#old_office_name").text(option.data('office_name') !== undefined ? option.data('office_name') : '');
//        $("#old_department_name").text(option.data('department_name') !== undefined ? option.data('department_name') : '');
//    });
//    $(document).ready(function(){
//        $("#<?php //echo $element->getAttribute('id'); ?>//").trigger('change');
//    });
</script>