<h2>
    <span>История перемещений материалов</span>
    <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'material', 'action'=>'movement')); ?>">Создать перемещение</a>
    <a class="btn btn-success pull-right" id="export_to_excel_button">экспорт в Excel</a>
</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID перемещения</th>
            <th>Наименование материала</th>
            <th>Дата перемещения</th>
            <th>Количество</th>
            <th>Старое место хранения</th>
            <th>Новое место хранения</th>
        </tr>
    </thead>
    <tbody>
    <?php if (!isset($this->materials) || empty($this->materials)) : ?>
        <td colspan="100%">Нет данных</td>
    <?php else : ?>
        <?php foreach ($this->materials as $item) : ?>
            <tr>
                <td><?php echo $item['mmove_id']; ?></td>
                <td><?php echo $item['material_name']; ?></td>
                <td><?php echo $item['mmove_date']; ?></td>
                <td><?php echo $item['mmove_count']; ?></td>
                <td><?php echo $item['office_name_old']; ?>, <?php echo $item['department_name_old']; ?></td>
                <td><?php echo $item['office_name_new']; ?>, <?php echo $item['department_name_new']; ?></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>