<?php $this->headLink()->appendStylesheet('/css/jquery-ui-1.10.3.custom.css'); ?>
<script src="/js/jquery-ui-1.10.4.min.js"></script>

<h2>
    <span>Планирование расходных материалов</span>
    <a class="btn btn-success pull-right" id="export_to_excel_button">экспорт в Excel</a>
</h2>
<div style="margin-bottom: 20px">

    <?php if ($this->form) : ?>

        <?php
            $form = $this->form;
            $form->setAttribute('role','form');
            $form->setAttribute('class','form-inline');
            $form->prepare();
        ?>

        <?php echo $this->form()->openTag($form); ?>

        <span><?php echo $form->getLabel(); ?>&nbsp;&nbsp;&nbsp;</span>

        <?php $element = $form->get('date_start'); ?>
        <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
            <label for="<?php echo $element->getAttribute('id'); ?>"><?php echo $element->getLabel(); ?></label>
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
<!--            --><?php //echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>

        <?php $element = $form->get('date_end'); ?>
        <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
            <label for="<?php echo $element->getAttribute('id'); ?>"><?php echo $element->getLabel(); ?></label>
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
<!--            --><?php //echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>

        <script>
            jQuery(function ($) {
                var $from = $("#<?php echo $form->get('date_start')->getAttribute('id'); ?>"),
                    $to = $("#<?php echo $form->get('date_end')->getAttribute('id'); ?>");

                $from.datepicker({
                    minDate: 0,
                    dateFormat: "yy-mm-dd",
                    onClose: function (selectedDate) {
                        $to.datepicker("option", "minDate", selectedDate);
                    }
                });
                $to.datepicker({
                    minDate: 0,
                    dateFormat: "yy-mm-dd",
                    onClose: function (selectedDate) {
                        $from.datepicker("option", "maxDate", selectedDate);
                    }
                });
                $from.add($to).change(function () {
                    var dayFrom = $from.datepicker('getDate');
                    var dayTo = $to.datepicker('getDate');
                    if (dayFrom && dayTo) {
                        var days = calcDaysBetween(dayFrom, dayTo);
                        $('#finalDagen').html(days);
                    }
                });

                function calcDaysBetween(startDate, endDate) {
                    return (endDate - startDate) / (1000 * 60 * 60 * 24);
                }
            });
        </script>

        <?php $element = $form->get('submit'); ?>
        <?php $element->setAttribute('class','btn btn-primary'); ?>
        <?php echo $this->formSubmit($element); ?>

        <?php if ($form->get('date_start')->getMessages() || $form->get('date_end')->getMessages()) : ?>
            <label style="color:#a94442;">Необходимо указать обе даты</label>
        <?php endif; ?>

        <?php echo $this->form()->closeTag(); ?>

    <?php endif; ?>

</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Отделение</th>
            <th>Наименование материала</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
    <?php if (!isset($this->materials) || empty($this->materials)) : ?>
        <td colspan="100%">Нет данных</td>
    <?php else : ?>
        <?php foreach ($this->materials as $item) : ?>
            <tr>
                <td><?php echo $item['office_name']; ?></td>
                <td><?php echo $item['mtype_name']; ?></td>
                <td><?php echo $item['col']; ?></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>

<style>

</style>