<?php echo $this->doctype(); ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?php
        echo $this
            ->headTitle('')
            ->setSeparator(' - ')
            ->setAutoEscape(false);

        echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');

        echo $this
            ->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
            ->appendStylesheet($this->basePath() . '/css/bootstrap.min.css')
            ->appendStylesheet($this->basePath() . '/css/jquery-ui-1.10.3.custom.css')
            ->appendStylesheet($this->basePath() . '/css/dashboard.css')
            ->appendStylesheet($this->basePath() . '/css/style.css')
            ->appendStylesheet($this->basePath() . '/css/admin.css')
            ->appendStylesheet($this->basePath() . '/css/theme.bootstrap.css')
        ;

        echo $this->headScript()
            ->appendFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
            ->appendFile($this->basePath() . '/js/jquery-2.1.0.min.js')
            ->appendFile($this->basePath() . '/js/jquery-ui-1.10.4.min.js')
            ->appendFile($this->basePath() . '/js/bootstrap.min.js')
            ->appendFile($this->basePath() . '/js/bootstrap.touchspin.js')
            ->appendFile($this->basePath() . '/js/jquery.tablesorter.min.js')
            ->appendFile($this->basePath() . '/js/jquery.tablesorter.pager.min.js')
            ->appendFile($this->basePath() . '/js/jquery.tablesorter.widgets.min.js')
            ->appendFile($this->basePath() . '/js/jquery.battatech.excelexport.min.js')
            ->appendFile($this->basePath() . '/js/functions.js')
        ;

    ?>
</head>