
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar" id="accordion">
                <!-- class="active" -->
                <li>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed">Техника и периферия <b class="caret"></b></a>
                    <ul class="collapse" id="collapse1">
                        <li><a role="menuitem" tabindex="-1" href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'index')); ?>">Наличие</a></li>
                        <li><a role="menuitem" tabindex="-1" href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'repair')); ?>">Ремонты/профилактика</a></li>
                        <li><a role="menuitem" tabindex="-1" href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'remote')); ?>">Списанное</a></li>
                        <li><a role="menuitem" tabindex="-1" href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'movement-history')); ?>">Передвижение</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#">Отчеты</a></li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">Расходные материалы <b class="caret"></b></a>
                    <ul class="collapse" id="collapse2">
                        <li><a role="menuitem" tabindex="-1" href="<?php echo $this->url('admin',array('controller'=>'material', 'action'=>'index')); ?>">Наличие</a></li>
                        <li><a role="menuitem" tabindex="-1" href="<?php echo $this->url('admin',array('controller'=>'material', 'action'=>'movement-history')); ?>">Передвижение</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#">Планирование расходных материалов на основе заявок</a></li>
                    </ul>
                </li>
                <li>
                    <a role="menuitem" tabindex="-1" href="<?php echo $this->url('admin',array('controller'=>'user', 'action'=>'index')); ?>">Пользователи</a>
                </li>
                <li>
                    <a role="menuitem" tabindex="-1" href="<?php echo $this->url('admin',array('controller'=>'request', 'action'=>'index')); ?>">Заявки</a>
                </li>
                <li>
                    <a role="menuitem" tabindex="-1" href="#">Уведомления</a>
                </li>
                <li>
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">Справочники <b class="caret"></b></a>
                    <ul class="collapse" id="collapse3">
                        <li><a role="menuitem" tabindex="-1" href="#">Устройства</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#">Типы устройств</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#">Дополнительные параметры устройств</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#">Места хранения (использования)</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#">Программное обеспечение</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#">Расходные материалы</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#">Типы расходных материалов</a></li>
                        <li><a role="menuitem" tabindex="-1" href="#">Поставщики</a></li>
                    </ul>
                </li>
            </ul>
        </div>
