<tfoot>
<tr>
    <td colspan="100%">
        <div id="pager" class="pager">
            <form>
                <span class="first btn btn-default glyphicon glyphicon-fast-backward"></span>
                <span class="prev btn btn-default glyphicon glyphicon-step-backward"></span>
                <span class="pagedisplay"></span> <!-- this can be any element, including an input -->
                <span class="next btn btn-default glyphicon glyphicon-step-forward"></span>
                <span class="last btn btn-default glyphicon glyphicon-fast-forward"></span>
                <select class="pagesize">
                    <option value="5">5</option>
                    <option selected="selected" value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="40">40</option>
                </select>
            </form>
        </div>
    </td>
</tr>
</tfoot>
<style>
    .pager {
        margin: 0;
    }
    .pagesize{
        vertical-align: top;
    }
</style>
<script>
    $(document).ready(function(){
        $.extend($.tablesorter.themes.bootstrap, {
            table      : 'table table-bordered',
            caption    : 'caption',
            header     : 'bootstrap-header', // give the header a gradient background
            footerRow  : '',
            footerCells: '',
            icons      : '', // add "icon-white" to make them white; this icon class is added to the <i> in the header
            sortNone   : 'bootstrap-icon-unsorted',
            sortAsc    : 'icon-chevron-up glyphicon glyphicon-chevron-up',     // includes classes for Bootstrap v2 & v3
            sortDesc   : 'icon-chevron-down glyphicon glyphicon-chevron-down', // includes classes for Bootstrap v2 & v3
            active     : '', // applied when column is sorted
            hover      : '', // use custom css here - bootstrap class may not override it
            filterRow  : '', // filter row class
            even       : '', // odd row zebra striping
            odd        : ''  // even row zebra striping
        });
        $(".table.table-bordered")
            .tablesorter({
                theme : "bootstrap",
                widthFixed: true,
                headerTemplate : '{content} {icon}', // new in v2.7. Needed to add the bootstrap icon!
                widgets : [ "uitheme", "filter", "zebra" ],
                widgetOptions : {
                    zebra : ["even", "odd"],
                    filter_reset : ".reset"
                }
            })
            .tablesorterPager({
                container: $(".pager"),
                ajaxUrl: null,
                customAjaxUrl: function(table, url) { return url; },
                ajaxProcessing: function(ajax){
                    if (ajax && ajax.hasOwnProperty('data')) {
                        return [ ajax.total_rows, ajax.data ];
                    }
                },
                output: '{startRow} to {endRow} ({totalRows})',
                updateArrows: true,
                page: 0,
                size: 10,
                savePages : false,
                storageKey:'tablesorter-pager',
                fixedHeight: false,
                removeRows: false,
                cssNext: '.next', // next page arrow
                cssPrev: '.prev', // previous page arrow
                cssFirst: '.first', // go to first page arrow
                cssLast: '.last', // go to last page arrow
                cssGoto: '.gotoPage', // select dropdown to allow choosing a page
                cssPageDisplay: '.pagedisplay', // location of where the "output" is displayed
                cssPageSize: '.pagesize', // page size selector - select dropdown that sets the "size" option
                cssDisabled: 'disabled', // Note there is no period "." in front of this class name
                cssErrorRow: 'tablesorter-errorRow' // ajax error information row
            });

    });

    $(document).ready(function () {
        $("#export_to_excel_button").click(function(event){
            exportToExcel(event, $("table.table"));
        });
    });
</script>