<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->url('admin'); ?>">Главная</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Техника и периферия <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'index')); ?>">Наличие</a></li>
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'repair')); ?>">Ремонты/профилактика</a></li>
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'remote')); ?>">Списанное</a></li>
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'movement-history')); ?>">Передвижение</a></li>
<!--                        <li><a href="#">Отчеты</a></li>-->
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Расходные материалы <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'material', 'action'=>'index')); ?>">Наличие</a></li>
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'material', 'action'=>'movement-history')); ?>">Передвижение</a></li>
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'material', 'action'=>'planing')); ?>">Планирование расходных материалов на основе заявок</a></li>
                    </ul>
                </li>

                <li>
                    <a href="<?php echo $this->url('admin',array('controller'=>'user', 'action'=>'index')); ?>">Пользователи</a>
                </li>

                <li>
                    <a href="<?php echo $this->url('admin',array('controller'=>'request', 'action'=>'index')); ?>">Заявки</a>
                </li>

                <li>
                    <a href="<?php echo $this->url('admin',array('controller'=>'notification', 'action'=>'index')); ?>">Уведомления</a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Справочники <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'catalog', 'action'=>'department')); ?>">Департаменты</a></li>
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'catalog', 'action'=>'office')); ?>">Офисы</a></li>
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'catalog', 'action'=>'provider')); ?>">Поставщики</a></li>
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'catalog', 'action'=>'mtype')); ?>">Типы расходных материалов</a></li>
                        <li><a href="<?php echo $this->url('admin',array('controller'=>'catalog', 'action'=>'eqtype')); ?>">Типы устройств</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <?php if ($this->user) : ?>
                    <li><a href="<?php echo $this->url('admin', array('controller'=>'index','action'=>'profile')); ?>"><?php echo $this->user->getUserMail(); ?></a></li>
                <?php endif; ?>
                <li><a href="<?php echo $this->url('logout'); ?>">Выход</a></li>
            </ul>
        </div>
    </div>
</div>