<?php if ($this->message): ?>
    <div class="alert alert-warning"><?php echo $this->message; ?></div>
<?php endif; ?>
<?php
    if (!$this->form) {
        return;
    }
    $form = $this->form;
    $form->setAttribute('role','form');
    $form->setAttribute('class','form-horizontal');
    $form->prepare();
?>
<?php echo $this->form()->openTag($form); ?>

<?php $element = $form->get('user_name'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

<?php $element = $form->get('user_dol'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

<?php $element = $form->get('office_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

<?php $element = $form->get('department_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

<?php $element = $form->get('user_mail'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formEmail($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

<?php $element = $form->get('user_pas'); ?>
<?php $element->setAttribute('id', $element->getAttribute('name')); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <div class="input-group">
                <?php echo $this->formText($element); ?>
                <span class="input-group-btn">
                    <button type="button" id="generate-password" class="btn btn-info">Generate</button>
                </span>
            </div>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Сохранить</button>
        </div>
    </div>

<?php echo $this->form()->closeTag(); ?>

<?php
    $this->inlineScript()->appendFile($this->basePath('/js/pGenerator.jquery.js'));
    $readyScript = "
        jQuery(document).ready(function(){
            jQuery('#generate-password').pGenerator({
                'bind': 'click',
                'displayElement': '#".$form->get('user_pas')->getAttribute('id')."',
                'passwordLength': 50,
                'uppercase': true,
                'lowercase': true,
                'numbers':   true,
                'specialChars': true,
                'onPasswordGenerated': function(generatedPassword) {

                }
            });
        });
    ";
    $this->inlineScript()->appendScript($readyScript, 'text/javascript');
?>