<?php echo $this->doctype(); ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <?php
    echo $this
        ->headTitle('ZF2 '. $this->translate('Skeleton Application'))
        ->setSeparator(' - ')
        ->setAutoEscape(false);

    echo $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');

    echo $this
        ->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
        ->appendStylesheet($this->basePath() . '/css/bootstrap.min.css')
        ->appendStylesheet($this->basePath() . '/css/style.css')
    ;
    //                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
    echo $this->headScript()
        ->prependFile($this->basePath() . '/js/bootstrap.min.js')
        ->prependFile($this->basePath() . '/js/jquery-2.1.0.min.js')
//            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',));
    ?>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li><a href="<?php echo $this->url('home'); ?>">Home</a></li>
            <li><a href="<?php echo $this->url('login'); ?>">Login</a></li>
            <li><a href="<?php echo $this->url('logout'); ?>">Logout</a></li>
            <li><a href="<?php echo $this->url('admin'); ?>">Admin</a></li>
        </ul>
    </div>
</nav>
<div class="container"><?php echo $this->content; ?></div>
<?php echo $this->inlineScript(); ?>
</body>
</html>
