<?php include('partial/header.phtml'); ?>
<body>
    <?php include('partial/top-menu.phtml'); ?>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <?php echo $this->content; ?>
            </div>
        </div>
    </div>
    <?php echo $this->inlineScript(); ?>
</body>
</html>
