<?php echo $this->partial('/layout/partial/header.phtml'); ?>
<body>
    <div class="container">
        <div class="row">
            <div class="main">
                <?php echo $this->content; ?>
            </div>
        </div>
    </div>
    <?php echo $this->inlineScript(); ?>
</body>
</html>
