<?php echo include('partial/header.phtml'); ?>
<body>
    <?php echo include('partial/top-menu.phtml'); ?>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 main">
                <div class="content-404">404</div>
            </div>
        </div>
    </div>
    <?php echo $this->inlineScript(); ?>
</body>
</html>
