<h2>
    <span>Уведомления</span>
    <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'notification', 'action'=>'create')); ?>">создать</a>
    <a class="btn btn-success pull-right" id="export_to_excel_button">экспорт в Excel</a>
</h2>
<table class="table table-bordered" id="notifications_table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Дата</th>
        <th>Отдел</th>
        <th>Отделение</th>
        <th>Заголовок</th>
        <th>Текст</th>
    </tr>
    </thead>
    <tbody>
    <?php if (!isset($this->notifications) || empty($this->notifications)) : ?>
        <td colspan="100%">Нет данных</td>
    <?php else : ?>
        <?php foreach ($this->notifications as $notification) : ?>
            <tr>
                <td><?php echo $notification['notification_id']; ?></td>
                <td><?php echo $notification['notification_date']; ?></td>
                <td><?php echo $notification['office_name']; ?></td>
                <td><?php echo $notification['department_name']; ?></td>
                <td><?php echo $notification['notification_subject']; ?></td>
                <td><?php echo $notification['notification_text']; ?></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>