<?php if ($this->message): ?>
    <div class="alert alert-warning"><?php echo $this->message; ?></div>
<?php endif; ?>
<?php
    if (!$this->form) { return; }
    $form = $this->form;
    $form->setAttribute('role','form');
    $form->setAttribute('class','form-horizontal');
    $form->prepare();
?>
<?php echo $this->form()->openTag($form); ?>

<?php $element = $form->get('office_name'); ?>
<div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
    <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
    <div class="col-sm-10">
        <?php $element->setAttribute('class','form-control'); ?>
        <?php echo $this->formText($element); ?>
        <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
    </div>
</div>
<?php $element = $form->get('office_town'); ?>
<div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
    <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
    <div class="col-sm-10">
        <?php $element->setAttribute('class','form-control'); ?>
        <?php echo $this->formText($element); ?>
        <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
    </div>
</div>
<?php $element = $form->get('office_adr'); ?>
<div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
    <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
    <div class="col-sm-10">
        <?php $element->setAttribute('class','form-control'); ?>
        <?php echo $this->formText($element); ?>
        <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
    </div>
</div>

<?php $element = $form->get('submit'); ?>
<?php $element->setAttribute('class','btn btn-primary'); ?>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <?php echo $this->formSubmit($element); ?>
        <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'catalog', 'action'=>'office')); ?>">Отмена</a>
    </div>
</div>

<?php echo $this->form()->closeTag(); ?>