<h2>Редактирование оборудования</h2>
<?php echo $this->partial('/admin/equipment/partial/create_edit_equipment.phtml', array('form'=>$this->form)); ?>
<script>
    $(document).on('change', "#equipment_flagrepair", checkRepairCheckbox);
    function checkRepairCheckbox(){
        if ($("#equipment_flagrepair").is(':checked')) {
            $('#equipment_flagrepair_block').slideDown();
        } else {
            $('#equipment_flagrepair_block').slideUp();
        }
    }
    $('#equipment_flagrepair_block').hide();
    checkRepairCheckbox();



    $(document).on('change', "#user_id", checkRemoteCheckbox);
    function checkRemoteCheckbox(){
        if ($("#user_id").val() == '') {
            $("#equipment_flagremote").prop('disabled', false);
            $("#equipment_flagremote_danger").hide();
        } else {
            $("#equipment_flagremote").prop('disabled', true).prop('checked', false);
            $("#equipment_flagremote_danger").show();
        }
    }
    checkRemoteCheckbox();

</script>