<h2>
    <span>Оборудование/ПО в наличии</span>
    <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'create')); ?>">создать</a>
    <a class="btn btn-success pull-right" id="export_to_excel_button">экспорт в Excel</a>
</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Инвентарный номер</th>
            <th>Наименование</th>
            <th>Тип</th>
            <th>Характеристики</th>
            <th>Дата приобретения</th>
            <th>Гарантийный срок (для ПО - срок действия лицензии) - до даты</th>
            <th>Срок службы</th>
            <th>Стоимость</th>
            <th>Место хранения (использования)-отделение+департамент/отдел</th>
            <th>Пользователь</th>
            <th>Поставщик</th>
            <th>Признак ремонта</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <?php if (!isset($this->equipments) || empty($this->equipments)) : ?>
        <td colspan="100%">Нет данных</td>
    <?php else : ?>
        <?php foreach ($this->equipments as $item) : ?>
            <tr>
                <td><?php echo $item['equipment_id']; ?></td>
                <td><?php echo $item['equipment_invnom']; ?></td>
                <td><?php echo $item['equipment_name']; ?></td>
                <td><?php echo $item['eqtype_name']; ?></td>
                <td><?php echo $item['equipment_characteristics']; ?></td>
                <td><?php echo $item['equipment_crtdate']; ?></td>
                <td><?php echo $item['equipment_warrdate']; ?></td>
                <td><?php echo $item['equipment_life']; ?></td>
                <td><?php echo $item['equipment_cost']; ?></td>
                <td><?php echo $item['office']; ?></td>
                <td><?php echo $item['user_name']; ?></td>
                <td><?php echo $item['provider_name']; ?></td>
                <td><?php echo $item['equipment_repair']; ?></td>
                <td><a class="" href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'edit'), array('query'=>array('id'=>$item['equipment_id']))); ?>">изменить</a></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>