<h2>
    <span>История перемещений техники</span>
    <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'equipment', 'action'=>'movement')); ?>">Создать перемещение</a>
    <a class="btn btn-success pull-right" id="export_to_excel_button">экспорт в Excel</a>
</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID перемещения</th>
            <th>Наименование</th>
            <th>Инвентарный номер</th>
            <th>Дата перемещения</th>
            <th>Старое место хранения</th>
            <th>Новое место хранения</th>
            <th>От пользователя</th>
            <th>К пользователю</th>
        </tr>
    </thead>
    <tbody>
    <?php if (!isset($this->equipments) || empty($this->equipments)) : ?>
        <td colspan="100%">Нет данных</td>
    <?php else : ?>
        <?php foreach ($this->equipments as $item) : ?>
            <tr>
                <td><?php echo $item['eqmove_id']; ?></td>
                <td><?php echo $item['equipment_name']; ?></td>
                <td><?php echo $item['equipment_invnom']; ?></td>
                <td><?php echo $item['eqmove_date']; ?></td>
                <td><?php echo $item['office_name_old']; ?>, <?php echo $item['department_name_old']; ?></td>
                <td><?php echo $item['office_name_new']; ?>, <?php echo $item['department_name_new']; ?></td>
                <td><?php echo $item['old_user_name']; ?></td>
                <td><?php echo $item['new_user_name']; ?></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>