<h2>
    <span>Списанная техника</span>
    <a class="btn btn-success pull-right" id="export_to_excel_button">экспорт в Excel</a>
</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>№ п/п</th>
            <th>Наименование</th>
            <th>Дата списания</th>
        </tr>
    </thead>
    <tbody>
    <?php if (!isset($this->equipments) || empty($this->equipments)) : ?>
        <td colspan="100%">Нет данных</td>
    <?php else : ?>
        <?php foreach ($this->equipments as $item) : ?>
            <tr>
                <td><?php echo $item['equipment_id']; ?></td>
                <td><?php echo $item['equipment_name']; ?></td>
                <td><?php echo $item['eqremote_date']; ?></td>
            </tr>
        <?php endforeach; ?>
    <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>