<div class="table-responsive">
<!--    <table class="table table-striped">-->
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <?php if (isset($this->mats) && !empty($this->mats)) : ?>
                <?php foreach ($this->mats as $mat) : ?>
                    <tr>
                        <td><?php echo $mat->getId(); ?></td>
                        <td><?php echo $mat->getCode(); ?></td>
                        <td><?php echo $mat->getPrice(); ?></td>
                    </tr>
                <?php endforeach; ?>
            <?php endif; ?>
        </tbody>
    </table>
</div>
<button class="btn btn-default">XXX</button>
<button class="btn btn-primary">XXX</button>

<div class="btn-group" data-toggle="buttons" id="radios">
    <label class="btn btn-primary">
        <input type="radio" name="options">
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options">
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="options">
    </label>
</div>
<div class="green bubble"></div>
<div class="red bubble"></div>
<style>
    #radios label{
        width: 20px !important;
        height: 20px !important;
        border-radius: 10px !important;
        min-width: 20px !important;
        padding: 0px !important;
        margin: 1px !important;
        border: solid 4px #A2CDF1;
        background-color: #A2CDF1;
    }
    #radios label:hover {
        background-color: #5B97CA;
    }
    #radios label.active{
        background-color: #3276b1;
    }

    .bubble {
        position: relative;
        height: 20px;
        width: 20px;
        border-radius: 10px;
        margin: 2px;
    }
    .red.bubble {
        background-color: #285e8e;
    }
    .green.bubble {
        background-color: #285e8e;
    }
    .bubble:before {
        position: absolute;
        content: '';
        width: 18px;
        height: 18px;
        margin: 1px;
        border-radius: 9px;
        background-color: #A2CDF1;
    }
    .bubble:after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        margin: 5px;
        border-radius: 5px;
        background-color: #285e8e;
    }

</style>