<h2><span>Закрепленное оборудование</span></h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Характеристики</th>
        <th>Гарантийный срок</th>
        <th>Срок службы</th>
    </tr>
    </thead>
    <tbody>
        <?php if (!isset($this->equipments) || empty($this->equipments)) : ?>
            <td colspan="100%">Нет данных</td>
        <?php else : ?>
            <?php foreach ($this->equipments as $item) : ?>
                <tr>
                    <td><?php echo $item['equipment_name']; ?></td>
                    <td><?php echo $item['equipment_characteristics']; ?></td>
                    <td><?php echo $item['equipment_warrdate']; ?></td>
                    <td><?php echo $item['equipment_life']; ?></td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>
