<h2>Новая заявка</h2>

<?php if ($this->messages): ?>
    <ul>
        <?php foreach ($this->messages as $message) : ?>
            <li><?php echo $message; ?></li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>
<?php
    $form = $this->form;
    $form->setAttribute('role','form');
    $form->setAttribute('class','form-horizontal');
    $form->prepare();
?>
<?php echo $this->form()->openTag($form); ?>

    <?php $element = $form->get('reqtype_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('mtype_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            checkRequestType();
        });
        function checkRequestType() {
            if ($("#reqtype_id").val() == 3) {
                $("#mtype_id").prop('disabled',false);
            } else {
                $("#mtype_id").prop('disabled',true).val('');
            }
        }
        $(document).on('change', "#reqtype_id", checkRequestType);
    </script>

    <?php $element = $form->get('request_usercom'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formTextarea($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('submit'); ?>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <?php $element->setAttribute('class','btn btn-primary'); ?>
            <?php echo $this->formSubmit($element); ?>
            <a class="btn btn-default" href="<?php echo $this->url('home/default',array('controller'=>'index', 'action'=>'requests')); ?>">Отмена</a>
        </div>
    </div>

<?php echo $this->form()->closeTag(); ?>