<h2>
    <span>Заявки пользователя</span>
    <a class="btn btn-default" href="<?php echo $this->url('home/default',array('action'=>'new-request')); ?>">создать</a>
    <a class="btn btn-success pull-right" id="export_to_excel_button">экспорт в Excel</a>
</h2>
<table class="table table-bordered" id="requests_table">
    <thead>
        <tr>
            <th>ID заявки</th>
            <th>ФИО инициатора</th>
            <th>Дата создания</th>
            <th>Тип заявки</th>
            <th>Расходный материал</th>
            <th>Комментарий инициатора</th>
            <th>Статус</th>
            <th>Исполнитель</th>
            <th>Дата закрытия</th>
            <th>Комментарий исполнителя</th>
        </tr>
    </thead>
    <tbody>
        <?php if (!isset($this->requests) || empty($this->requests)) : ?>
            <td colspan="100%">Нет данных</td>
        <?php else : ?>
            <?php foreach ($this->requests as $request) : ?>
                <tr>
                    <td><?php echo $request['request_id']; ?></td>
                    <td><?php echo $request['user_name']; ?></td>
                    <td><?php echo $request['request_crtdate']; ?></td>
                    <td><?php echo $request['reqtype_name']; ?></td>
                    <td><?php echo $request['mtype_name']; ?></td>
                    <td><?php echo $request['request_usercom']; ?></td>
                    <td><?php echo $request['reqstatus_name']; ?></td>
                    <td><?php echo $request['admin_name']; ?></td>
                    <td><?php echo (int)$request['request_clsdate']!==0 ? date('d.m.Y', strtotime($request['request_clsdate'])) : ''; ?></td>
                    <td><?php echo $request['request_admincom']; ?></td>
                </tr>
            <?php endforeach; ?>
        <?php endif; ?>
    </tbody>
    <?php include('\..\..\layout\partial\table-footer.phtml'); ?>
</table>
