<?php if ($this->message): ?>
    <div class="alert alert-warning"><?php echo $this->message; ?></div>
<?php endif; ?>
<?php
    if (!$this->form) {
        return;
    }
    $form = $this->form;
    $form->setAttribute('role','form');
    $form->setAttribute('class','form-horizontal');
    $form->prepare();
?>
<?php echo $this->form()->openTag($form); ?>

    <?php $element = $form->get('equipment_invnom'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('equipment_name'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('eqtype_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('equipment_characteristics'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formTextarea($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('provider_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('office_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('department_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('user_id'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formSelect($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('equipment_cost'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('equipment_crtdate'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('equipment_warrdate'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php $element = $form->get('equipment_life'); ?>
    <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
        <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
        <div class="col-sm-10">
            <?php $element->setAttribute('class','form-control'); ?>
            <?php echo $this->formText($element); ?>
            <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
        </div>
    </div>

    <?php if ($form->has('edit') && (int)$form->get('edit')->getValue() === 1) : ?>

        <?php $element = $form->get('equipment_flagremote'); ?>
        <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
            <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
            <div class="col-sm-10">
                <?php if ((int)$form->get('user_id')->getValue() <= 0) : ?>
                    <?php $element->setAttribute('disabled', 'disabled'); ?>
                <?php endif; ?>
                <?php echo $this->formCheckbox($element); ?>
                <span id="equipment_flagremote_danger" class="text-danger">&nbsp;&nbsp;оборудование привязано к пользователю</span>
                <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
            </div>
        </div>


        <?php $element = $form->get('equipment_flagrepair'); ?>
        <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
            <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
            <div class="col-sm-10">
                <?php echo $this->formCheckbox($element); ?>
                <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
            </div>
        </div>

        <div id="equipment_flagrepair_block">
            <?php $element = $form->get('repair_type'); ?>
            <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
                <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
                <div class="col-sm-10">
                    <?php $element->setAttribute('class','form-control'); ?>
                    <?php echo $this->formSelect($element); ?>
                    <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
                </div>
            </div>
            <?php $element = $form->get('repair_startdate'); ?>
            <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
                <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
                <div class="col-sm-10">
                    <?php $element->setAttribute('class','form-control'); ?>
                    <?php echo $this->formText($element); ?>
                    <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
                </div>
            </div>
            <?php $element = $form->get('repair_enddate'); ?>
            <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
                <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
                <div class="col-sm-10">
                    <?php $element->setAttribute('class','form-control'); ?>
                    <?php echo $this->formText($element); ?>
                    <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
                </div>
            </div>
            <?php $element = $form->get('repair_provider_id'); ?>
            <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
                <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
                <div class="col-sm-10">
                    <?php $element->setAttribute('class','form-control'); ?>
                    <?php echo $this->formSelect($element); ?>
                    <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
                </div>
            </div>
            <?php $element = $form->get('repair_reason'); ?>
            <div class="form-group <?php echo $element->getMessages() ? ' has-error' : '' ?>">
                <label for="<?php echo $element->getAttribute('id'); ?>" class="col-sm-2 control-label"><?php echo $element->getLabel(); ?></label>
                <div class="col-sm-10">
                    <?php $element->setAttribute('class','form-control'); ?>
                    <?php echo $this->formTextarea($element); ?>
                    <?php echo $this->formElementErrors($element, array('class' => 'help-inline')); ?>
                </div>
            </div>
        </div>

    <?php endif; ?>

    <?php $element = $form->get('submit'); ?>
    <?php $element->setAttribute('class','btn btn-primary'); ?>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <?php echo $this->formSubmit($element); ?>
            <a class="btn btn-default" href="<?php echo $this->url('admin',array('controller'=>'equipment')); ?>">Отмена</a>
        </div>
    </div>

<?php echo $this->form()->closeTag(); ?>